.filter {
  display: block;
  border: none;
  color: #0f0f0e;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  opacity: .8;
  border-radius: 20px/60px;

  padding: 10px;
  transition: all 0.3s ease-out;

  &:focus {
    outline: none;
    padding: 10px;
    border-color: #86e968;
    background: linear-gradient(to bottom, #33ccff 0%, #70c4eb 100%);
   

  }
  &:hover {
    background: linear-gradient(to bottom, #33ccff 0%, #70c4eb 100%);

  }
}

