.buttons {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px;
    background-color: #1c1009;
  
    
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px/60px;
    transition: all 0.3s ease-out;
      /* Font styles */
    text-decoration: none;
    margin-top: 25px;
    font-size: 25px;
    color: #cf946f;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2000ms;
  
  
    &:hover {
      background: linear-gradient(to bottom, #33ccff 0%, #33cc33 100%);
      color: #1c1009;
      transform:scaleX(1.5);
    }
  }