@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3,
h4 {
  opacity: 0.8;
  color: rgb(85, 77, 190);
  text-align: center;
  border-radius: 20px/60px;
  background: linear-gradient(to bottom, #e9f543 0%, #ff99cc 100%);

  padding: 10px;
}

.wrFcon {
  display: block;
  margin-top: 80px;
}
